
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.page-header {
  text-align: center;
}

#main-container {
  text-align: center;
  * {
    margin-top: 20px;
  }
  p {
    font-size: 28pt;
    font-style: italic;
  }
  #quote-box {
    border: 2px double royalblue;
    padding: 5px;
    width: 80%;
    position: relative;
    left: 10%;
    right: 10%;
    @include clearfix;
  }
}


//This is so much better than raw css. So much more readable and compact

