.page-header {
  text-align: center; }

#main-container {
  text-align: center; }
  #main-container * {
    margin-top: 20px; }
  #main-container p {
    font-size: 28pt;
    font-style: italic; }
  #main-container #quote-box {
    border: 2px double royalblue;
    padding: 5px;
    width: 80%;
    position: relative;
    left: 10%;
    right: 10%; }
    #main-container #quote-box:after {
      content: "";
      display: table;
      clear: both; }

/*# sourceMappingURL=style.css.map */
